body{
  font-size: 10px;
  background-color: rgb(241, 241, 241);
}

h1{
  font-size: 2.5rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
  font-style: italic;
}

svg{
  box-shadow: 5px 5px 3px gray;
}

#estonia rect:first-child{
  fill: rgb(0, 114, 206);
}

#estonia rect:nth-child(2){
  fill: black;
}

#estonia rect:last-child{
  fill: white;
}

#laos rect:first-child{
  fill: rgb(191, 14, 20);
}

#laos rect:nth-child(2){
  fill: rgb(12, 45, 138);
}

#laos circle{
  fill: white;
}

#mali rect:first-child{
  fill: rgb(29, 147, 85);
}

#mali rect:nth-child(2){
  fill: rgb(255, 237, 55);
}

#mali rect:last-child{
  fill: rgb(220, 22, 35);
}

#vietnam rect {
  fill: rgb(186, 19, 20);
}

#vietnam polygon{
  transform: translate(200px,100px);
  fill: rgb(255, 236, 13);
}

#finland rect:first-child{
  fill: white;
}

#finland rect~rect{
  fill: rgb(11, 24, 96);
}

#saint-lucia rect{
  fill: rgb(10, 73, 155);
}

#saint-lucia polygon:nth-child(2){
  fill: white;
}

#saint-lucia polygon:nth-child(3){
  fill: black;
}

#saint-lucia polygon:last-child{
  fill: rgb(248, 236, 46);
}
